{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'prac3.css' %}">
    <style>
        
    </style>
</head>
<body>
    
    <div class="hea">
        
         <a class="head-txt", id="link", href="https://www.amazon.in/s?k=join+amazon+prime&adgrpid=1327112148528381&hvadid=82944842492529&hvbmt=bb&hvdev=c&hvlocphy=157692&hvnetw=o&hvqmt=b&hvtargid=kwd-82945393014646%3Aloc-90&hydadcr=5626_2502674&mcid=3861a9d242543041b997efa1f39279d3&msclkid=ad63d14f8ecc1d241317bbd3614309b1&tag=msndeskstdin-21&ref=pd_sl_9ntprzamt3_b">amazon.in</a>
        <a class ="head-txt">Account</a>
         <a class ="head-txt">mycart</a>
          <a class="head-txt" > Contect Us</a>
           <textarea name="search" id="txt" , placeholder="search amazone.in"></textarea>
           <button id="button">Search</button>
        
        </div>
        
         <button class="ad" > <a href="add/">add</a>  </button>

<div class="tabl">
<table>
     <tr>
         <th>name   </th>
         <th>uniq_id   </th>
         <th>roll_no   </th>
         <th>feald   </th>
     </tr>
     {% for stu in student %}
     <tr>
        <th>{{stu.name}}</th>
        <th>{{stu.uniq_id}} </th>
        <th>{{stu.roll_no}}</th>
        <th>{{stu.feald}}</th>
        <th>
         <form method="POST" action="{% url 'delete_student' %}">
            {% csrf_token %}

            <input type="hidden" name="uniq_id" value="{{ stu.uniq_id }}">

            <button type="submit">Delete</button>
        </form>
        </th>
        <td>
           <a href="{% url 'edit-student' stu.roll_no %}" 
   class="btn btn-sm btn-info">
    Edit
</a>
        </td>


     </tr>
     {% endfor%}
</div>


</table>
    


</body>
</html>